@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary:hsl(144.78deg 100% 14.53%);
    --secondary: hsl(144.78deg 100% 96.1%);
}
body {
    font-family: "Roboto", sans-serif;
}